{% load static %}
<div class="card rounded shadow" id="history-card">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-row w-100 justify-content-between">
            <button class="btn btn-sm btn-secondary" onclick="resetGame()">Home</button>
            <h1 class="card-title">Game History</h1>
            <span></span>
        </div>

        <div class="table-responsive">
            <table id="history-tbl" class="table table-striped text-center">
                <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Player</th>
                    <th>Winner</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4">Loading....</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
