{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'new_game.html' %}
{% include 'round.html' %}
{% include 'history.html' %}
{% endblock %}
{% block extra_script %}
<script>
    let gameListCreateUrl = '{% url 'game-list' %}';
    let roundListCreateUrl = '{% url 'round-list' %}';
</script>
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}