{% load static %}
<div class="card rounded shadow" id="new-game">
    <div class="card-body d-flex flex-column justify-content-center align-items-center gap-2">
        <img src="{% static 'img/logo.png'%}" class="w-25 rounded"/>
        <h1 class="card-title">Game of Rock, Paper & Scissors</h1>
        <form id="new-game-form" class="w-100 d-flex flex-column justify-content-center align-items-center gap-2">
            <input type="text" name="player" placeholder="Enter Player's Name" class="form-control" required="required"/>
            <input type="submit" class="btn btn-success" name="submit" value="Begin New Game"/>
        </form>
        <button class="btn btn-info" id="score-history">Score</button>
    </div>
</div>