{% load static %}
<div class="card rounded shadow" id="new-round">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-row w-100 justify-content-between">
            <div class="col-2 gap-1" id="action-btn-container">
                <button class="btn btn-danger btn-sm" onclick="resetGame()">Reset</button>
            </div>
            <h1 class="card-title col-8 text-center">Round <span id="rounds-count"></span></h1>
            <span id="round-result" class="col-2"></span>
        </div>
        <h3><span id="player-name"></span> choose from options below:</h3>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <img src="{% static 'img/rock.png' %}" class="w-25 gesture" onclick="playRound(1)" />
            <img src="{% static 'img/paper.png' %}" class="w-25 gesture" onclick="playRound(2)"/>
            <img src="{% static 'img/scissor.png' %}" class="w-25 gesture" onclick="playRound(3)"/>
        </div>
    </div>
</div>
